In [3]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_csv('Datasets/ev_cleaned.csv')
df.head(5)

,brand,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,towing_capacity_kg,cargo_volume_l,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url
0,Abarth,500e Convertible,155,37.8,Lithium-Ion,192.0,235.0,156,225,7.0,...,0.0,185,4,FWD,B - COMPACT,3673,1683,1518,Hatchback,https://ev-database.org/car/1904/Abarth-500e-C...
1,Abarth,500e Hatchback,155,37.8,Lithium-Ion,192.0,235.0,149,225,7.0,...,0.0,185,4,FWD,B - COMPACT,3673,1683,1518,Hatchback,https://ev-database.org/car/1903/Abarth-500e-H...
2,Abarth,600e Scorpionissima,200,50.8,Lithium-Ion,102.0,345.0,158,280,5.9,...,0.0,360,5,FWD,JB - COMPACT,4187,1779,1557,Suv,https://ev-database.org/car/3057/Abarth-600e-S...
3,Abarth,600e Turismo,200,50.8,Lithium-Ion,102.0,345.0,158,280,6.2,...,0.0,360,5,FWD,JB - COMPACT,4187,1779,1557,Suv,https://ev-database.org/car/3056/Abarth-600e-T...
4,Aiways,U5,150,60.0,Lithium-Ion,-1.0,310.0,156,315,7.5,...,0.0,496,5,FWD,JC - MEDIUM,4680,1865,1700,Suv,https://ev-database.org/car/1678/Aiways-U5

In [21]:
df.columns

Index(['brand', 'model', 'top_speed_kmh', 'battery_capacity_kWh',
       'battery_type', 'number_of_cells', 'torque_nm', 'efficiency_wh_per_km',
       'range_km', 'acceleration_0_100_s', 'fast_charging_power_kw_dc',
       'fast_charge_port', 'towing_capacity_kg', 'cargo_volume_l', 'seats',
       'drivetrain', 'segment', 'length_mm', 'width_mm', 'height_mm',
       'car_body_type', 'source_url'],
      dtype='object')

# Exploratory Data Analysis (EDA)

In [12]:
# What are the most common EV brands?
common_EV_brands = df['brand'].value_counts().head(5)
common_EV_brands

brand
Mercedes-Benz    42
Audi             28
Porsche          26
Volkswagen       23
Ford             21
Name: count, dtype: int64

In [16]:
# What are the most common EV models?
common_EV_models = df['model'].value_counts().head(5)
common_EV_models

model
X Privilege AWD (MY25)    1
500e Convertible          1
500e Hatchback            1
600e Scorpionissima       1
600e Turismo              1
Name: count, dtype: int64

In [19]:
# What is the average range of electric vehicles?
avg_range = df['range_km'].mean()
avg_range

np.float64(394.17894736842106)

In [20]:
# What is the average top speed of electric vehicles?
top_speed = df['top_speed_kmh'].max()
top_speed

np.int64(325)

In [22]:
# What is the average battery capacity electric vehicles?
avg_battery = df['battery_capacity_kWh'].mean()
avg_battery

np.float64(74.24863157894738)

In [24]:
# Which body types dominate the EV market? Sedan vs SUV vs Hatchback?
top_body_type = df['car_body_type'].value_counts().head(3)
top_body_type

car_body_type
Suv          244
Sedan         63
Hatchback     55
Name: count, dtype: int64

In [26]:
# What segments are most common in EVs?
common_segment = df['segment'].value_counts().head(3)
common_segment

segment
JC - MEDIUM    91
JD - LARGE     58
F - LUXURY     51
Name: count, dtype: int64

In [36]:
# Which EVs have the longest range? (Top 10)
longest_range = df[['brand', 'model', 'range_km']].sort_values('range_km',ascending=False).head(10)
longest_range

             brand                            model  range_km
238  Mercedes-Benz                         EQS 450+       685
193          Lucid                Air Grand Touring       665
237  Mercedes-Benz                   EQS 450 4MATIC       655
240  Mercedes-Benz                   EQS 580 4MATIC       640
239  Mercedes-Benz                   EQS 500 4MATIC       640
14            Audi  A6 Sportback e-tron performance       610
15            Audi      A6 Sportback e-tron quattro       590
241  Mercedes-Benz               EQS AMG 53 4MATIC+       585
195          Lucid                      Air Touring       580
341        Porsche                      Taycan Plus       575

In [43]:
# Which vehicles are the most energy-efficient? (Lowest Wh/km)
energy_efficient_vehicles = df[['brand','model','efficiency_wh_per_km']].sort_values('efficiency_wh_per_km', ascending=True).head(5)
energy_efficient_vehicles

     brand                  model  efficiency_wh_per_km
98   Dacia     Spring Electric 45                   109
103   Fiat        500e 3+1 24 kWh                   112
107   Fiat  500e Hatchback 24 kWh                   112
105   Fiat     500e Cabrio 24 kWh                   112
99   Dacia     Spring Electric 65                   114

In [44]:
# Which EVs have the most seats?
most_seats = df[['brand','model','seats']].sort_values('seats', ascending=False).head(5)
most_seats

       brand                  model  seats
313  Peugeot  e-Traveller L2 50 kWh      9
408   Toyota  PROACE Verso M 75 kWh      9
407   Toyota  PROACE Verso M 50 kWh      9
406   Toyota  PROACE Verso L 75 kWh      9
315  Peugeot  e-Traveller L3 50 kWh      9

In [45]:
# Which EVs support the highest DC fast-charging power?
most_seats = df[['brand','model','fast_charging_power_kw_dc']].sort_values('fast_charging_power_kw_dc', ascending=False).head(5)
most_seats

       brand                     model  fast_charging_power_kw_dc
35      Audi  e-tron GT RS performance                      281.0
34      Audi              e-tron GT RS                      281.0
36      Audi               e-tron GT S                      281.0
37      Audi         e-tron GT quattro                      281.0
347  Porsche  Taycan Turbo GT Weissach                      281.0

In [46]:
# What are the most common fast charge port types?
common_charging_ports = df['fast_charge_port'].value_counts()
common_charging_ports

fast_charge_port
CCS        474
CHADEMO      1
Name: count, dtype: int64

In [53]:
# How many EVs don’t report the number of cells (value = -1)?
No_cell_nums = (df['number_of_cells'] == -1).sum()
No_cell_nums

np.int64(201)

In [63]:
# Which manufacturers push for high torque + towing capacity?
df['pulling power'] = df['torque_nm'] + df['towing_capacity_kg']
df['pulling power']

top_brands  = df[['brand','pulling power']].sort_values('pulling power', ascending=False).head(10)
top_brands

       brand  pulling power
51       BMW         3515.0
53       BMW         3265.0
33      Audi         3255.0
32      Audi         3255.0
29      Audi         3255.0
27      Audi         3255.0
177      Kia         3240.0
188    Lotus         3235.0
178      Kia         3200.0
158  Hyundai         3200.0

In [67]:
# Which cars are best for long-distance? (Range + Fast Charge)
df['long_distance'] = df['range_km'] + df['fast_charging_power_kw_dc']
best_for_long_dist = df[['model','long_distance']].sort_values('long_distance',ascending=False).head(10)
best_for_long_dist

                 model  long_distance
341        Taycan Plus          856.0
193  Air Grand Touring          849.0
333      Taycan 4 Plus          846.0
336     Taycan 4S Plus          846.0
238           EQS 450+          845.0
36         e-tron GT S          821.0
37   e-tron GT quattro          821.0
339         Taycan GTS          816.0
344       Taycan Turbo          816.0
237     EQS 450 4MATIC          815.0